<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hackademic.libgen</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>35929A1C-E5E5-43C8-B8F2-D328F061102F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3B18FF2-5B82-45B8-A8E2-21915E611EDA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>95991417-C28A-496D-8DA1-2958E666B877</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A263187F-8919-4BF2-B08B-0ADA4A68672C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F3B18FF2-5B82-45B8-A8E2-21915E611EDA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB1F3148-5D2D-483B-9099-AD4FA4A1B087</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen Margheim</string>
	<key>description</key>
	<string>Search and Download books from Library Genesis</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>LibGen</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python libgen.py "download" "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F3B18FF2-5B82-45B8-A8E2-21915E611EDA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>libgen</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python libgen.py "search" "{query}"</string>
				<key>title</key>
				<string>Search Library Genesis</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>35929A1C-E5E5-43C8-B8F2-D328F061102F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -e 'tell application "Alfred 2" to run trigger "libgen_download" in workflow "com.hackademic.libgen" with argument "{query}"'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>EB1F3148-5D2D-483B-9099-AD4FA4A1B087</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>libgen_download</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>95991417-C28A-496D-8DA1-2958E666B877</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A263187F-8919-4BF2-B08B-0ADA4A68672C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>35929A1C-E5E5-43C8-B8F2-D328F061102F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>95991417-C28A-496D-8DA1-2958E666B877</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>A263187F-8919-4BF2-B08B-0ADA4A68672C</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>EB1F3148-5D2D-483B-9099-AD4FA4A1B087</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F3B18FF2-5B82-45B8-A8E2-21915E611EDA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>hackademic.postach.io</string>
</dict>
</plist>
